{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col col
                footer-info-col col--social
                footer-info-col col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info flex flex-wrap">
            <!-- Custom Start -->
            <div class="footer-info--left flex flex-col">
                <div class="footerLeft__top row" style="--rowDesktop: 3">
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                </div>

                <hr class="footer-line">

                <div class="footerLeft__bottom row" style="--rowDesktop: 3;">
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                    <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                        <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                        <div class="footer-info-list">
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                            </li>
                            <li>
                                <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                            </li>
                        </div>
                    </article>
                </div>
            </div>
            <div class="footer-info--right row" style="--rowDesktop: 2;">
                <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                    <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                    <div class="footer-info-list">
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                        </li>
                    </div>
                </article>
                <article class="footer-info-col col custom-animation" data-step-animate="0" data-section-load="animation">
                    <h3 class="footer-info-heading">BY HOSTED PLATFORMS</h3>
                    <div class="footer-info-list">
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Bluejeans</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">GoToMeeting</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Highfive</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Microsoft Teams</a>
                        </li>
                        <li>
                            <a href="#" class="hover-link" style="--underlineColor: {{theme_settings.color-textSecondary--hover}}">Skype</a>
                        </li>
                    </div>
                </article>
                <article class="footer-info-col custom-animation" data-step-animate="0" data-section-load="animation">
                    <h3 class="footer-info-heading">Subscribe now to get latest updates</h3>
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                </article>
            </div>
        </section>

        <hr class="footer-line">

        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
