---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full">
    <!-- Home Banner Product Top -->
    {{> components/custom/home/home-product-banner }}


     <!-- Custom brand block -->
     <div class="custom-block custom-block-brands custom-block--swipper custom-animation" data-step-animate="1" data-section-load="animation">
        <div class="container">
            <div class="custom-block-row colums-5">
                <div class="custom-block-item">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolby-brand.png" 
                            alt="Dolby" 
                            title="Dolby">
                        </a>
                    </div>
                </div>
                <div class="custom-block-item">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolbly-vol-brand.png" 
                            alt="dolbly-vol" 
                            title="dolbly-vol">
                        </a>
                    </div>
                </div>
                <div class="custom-block-item">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/poly-brand.png" 
                            alt="poly" 
                            title="poly">
                        </a>
                    </div>
                </div>
                <div class="custom-block-item">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/yealink-brand.png" 
                            alt="yealink" 
                            title="yealink">
                        </a>
                    </div>
                </div>
                <div class="custom-block-item">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/ever-brand.png" 
                            alt="ever" 
                            title="ever">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom block icon with text -->
    <div class="custom-block custom-block-icon-with-text">
        <div class="container">
            <div class="custom-block-header text-center custom-animation" data-step-animate="0" data-section-load="animation">
                <h3 class="title">Shop our popular categories</h3>
            </div>
            <div class="custom-block-row colums-6">
                <div class="custom-block-item custom-animation" data-step-animate="1" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-video.png" 
                            alt="banner cate video" 
                            title="banner cate video">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>VIDEO CONFERENCING</span>
                        </a>
                    </div>
                </div>
                <div class="custom-block-item custom-animation" data-step-animate="2" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-av.png" 
                            alt="banner cate av" 
                            title="banner cate av">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>AV CART</span>
                        </a>
                    </div>
                </div>
                <div class="custom-block-item custom-animation" data-step-animate="3" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-acc.png" 
                            alt="banner cate acc" 
                            title="banner cate acc">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>Accessories</span>
                        </a>
                    </div>
                </div>
                <div class="custom-block-item custom-animation" data-step-animate="4" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-audio.png" 
                            alt="banner Audio Conferencing" 
                            title="banner Audio Conferencing">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>Audio Conferencing</span>
                        </a>
                    </div>
                </div>
                <div class="custom-block-item custom-animation" data-step-animate="5" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-presen.png" 
                            alt="banner Presentation Systems" 
                            title="banner Presentation Systems">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>Presentation Systems</span>
                        </a>
                    </div>
                </div>
                <div class="custom-block-item custom-animation" data-step-animate="6" data-section-load="animation">
                    <div class="img-box">
                        <a href="#" class="animate-scale image">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-video-phone.png" 
                            alt="Banner Video Phones" 
                            title="Banner Video Phones">
                        </a>
                    </div>
                    <div class="content-box text-center">
                        <a href="#">
                            <span>Video Phones</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom block banner -->
    <div class="custom-block custom-block-banner">
        <div class="container container--full">
            <div class="custom-block-content">
                <div class="block-banner-item">
                    <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                        <a href="#" class="image-desktop">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                        <a href="#" class="image-mobile">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-mb.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                    </div>
                    <div class="content-box text-left content-box--left custom-animation content-box--custom" data-step-animate="3" data-section-load="animation">
                        <h3 class="banner-title">Welcome to Video Conferencing Supply</h3>
                        <p class="desc banner-text">We are the original video conferencing specialty store online since 2007 and have helped countless businesses and end-users alike find, implement, and utilize their video conferencing solutions.</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <!-- Home Product New Section -->
    <div class="sectionNew custom-section">
        <div class="container">
            <div class="sectionNew__wrapper">
                <div class="sectionNew__left custom-animation" data-step-animate="1" data-section-load="animation">
                    <h2 class="custom-heading">New Arrivals</h2>
                    <div class="slick-arrow-wrapper">
                        <div class="slick-arrow slick-prev">Prev</div>
                        <div class="slick-arrow slick-next">Next</div>
                    </div>
                </div>
                <div class="sectionNew__right custom-animation" data-step-animate="2" data-section-load="animation">
                    {{#if products.new}}
                        {{> components/products/new products=products.new customSlick=true}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- Custom block banner 2 -->
    <div class="custom-block custom-block-banner">
        <div class="container container--full">
            <div class="custom-block-content">
                <div class="block-banner-item">
                    <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                        <a href="#" class="image-desktop">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-2.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                        <a href="#" class="image-mobile">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-2-mb.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                    </div>
                    <div class="content-box text-left background-black content-box--right">
                        <h3 class="banner-title custom-animation" data-step-animate="2" data-section-load="animation">Expert Manufacturer Certified Pre-Sales & Technical Support</h3>
                        <p class="desc banner-text custom-animation" data-step-animate="3" data-section-load="animation">We are the original video conferencing specialty store online since 2007 and have helped countless businesses and end-users alike find, implement, and utilize their video conferencing solutions.</p>
                        <a href="#" class="button button--primary">Learn More</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <!-- Image Banner Section -->
    {{> components/custom/home/image-banner }}

    <!-- Featured Offer Section -->
    {{> components/custom/home/featured-offer }}

    <!-- Custom block banner 3 -->
    <div class="custom-block custom-block-banner">
        <div class="container container--full">
            <div class="custom-block-content">
                <div class="block-banner-item">
                    <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                        <a href="#" class="image-desktop">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-3.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                        <a href="#" class="image-mobile">
                            <img class="lazyload" src="" 
                            data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-3-mb.jpg" 
                            alt="pexels julia m cameron" 
                            title="pexels julia m cameron">
                        </a>
                    </div>
                    <div class="content-box text-left background-white content-box--left content-box--custom2">
                        <h3 class="banner-title custom-animation" data-step-animate="2" data-section-load="animation">Extended Service Plans</h3>
                        <p class="desc banner-text custom-animation" data-step-animate="3" data-section-load="animation">buy with confidence knowing our products are factory direct from an authorized dealer.</p>
                        <a href="#" class="button button--primary">Learn More</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    {{> components/custom/home/home-recently-posts post=blog.recent_posts}}

</div>
{{/partial}}
{{> layout/base}}
