{{#partial "page"}}

{{#unless page.title '===' 'About Us'}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{/unless}}

<section class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div>

    {{{region name="custom_page_region_1"}}}

        <!-- Banner Top Section -->
        <div class="bannerTop">
            <div class="bannerTop__image-wrapper">
                <a href="#" class="bannerTop__image">
                    <img class="bannerTop__image--desktop" src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/vcs-about-top-banner.jpg" alt="About Us Banner">
                    <img class="bannerTop__image--mobile" src="https://cdn11.bigcommerce.com/s-j1idkp65fd/images/stencil/original/image-manager/contact-us-banner-mb.png" alt="About Us Banner">
                </a>
            </div>
            <div class="bannerTop__content-wrapper">
                <div class="bannerTop__content bannerTop__content--left">
                    <h3 class="bannerTop__heading uppercase custom-page-heading text-white custom-animation" data-step-animate="3" data-section-load="animation">About Us</h3>
                    <p class="bannerTop__desc text-white custom-animation" data-step-animate="4" data-section-load="animation">
                        Connecting Worlds, Bridging Distances - Your Partner in Seamless Communication since 2007.
                    </p>
                </div>
            </div>
        </div>

    <!-- Breadcrumb -->
    {{#if page.title '===' 'About Us'}}
        <div class="custom_breadcrumb text-center flex flex-center">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    {{/if}}

    {{{region name="custom_page_region_2"}}}
    {{{region name="custom_page_region_3"}}}
    {{{region name="custom_page_region_4"}}}
    {{{region name="custom_page_region_5"}}}
    {{{region name="custom_page_region_6"}}}
    {{{region name="custom_page_region_7"}}}
    {{{region name="custom_page_region_8"}}}
    {{{region name="custom_page_region_9"}}}
    {{{region name="custom_page_region_10"}}}


    <!-- 2 Columns Section -->
    <div class="aboutUsText">
        <div class="container">
            <h3 class="aboutUsText__heading uppercase text-center custom-page-heading custom-animation" data-step-animate="1" data-section-load="animation">About video Conerencing Supply</h3>
            <div class="aboutUsText__content">
                <div class="content__row">
                    <div class="content__col content__col--left custom-animation" data-step-animate="2" data-section-load="animation">
                        <p class=" custom-page-text">
                            <b>Our Founding:</b> In the ever-evolving world of communication, Video Conferencing Supply emerged in 2007 with a groundbreaking vision: to bridge geographical divides and foster seamless collaboration through innovative video conferencing solutions. Founded by a team of passionate technologists, our journey began with a commitment to not just offer equipment, but to empower connections. We strive to demystify the world of video conferencing, ensuring our customers can navigate the vast array of products with confidence and ease, fostering connections that redefine how we work, learn, and interact.
                        </p>
                    </div>
                    <div class="content__col content__col--right custom-animation" data-step-animate="3" data-section-load="animation">
                        <p class="content__desc custom-page-text">
                            <b>Our Mission:</b> At Video Conferencing Supply, our mission transcends simply selling equipment. We're dedicated to transforming the video conferencing experience into a seamless journey, from initial setup to ongoing success. Our team of expert consultants offers unrivaled pre-sales advice, ensuring you select the perfect solution for your solution requirements. Unparalleled post-sales support ensures you get the most out of your technology.
                        </p>
                    </div>
                </div>

                <div class="flex flex-center custom-animations" data-step-animate="4" data-section-load="animation">
                    <a href="/video-conferencing/" class="button button--primary uppercase content__button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Brand Section -->
    <div class="ourBrands">
        <div class="container">
            <div class="aboutUs__sectionTop aboutUS__sectionTop--revese-mobile">
                <div class="ourBrands__desc custom-animation aboutUS__sectionTop--left" data-step-animate="1" data-section-load="animation">
                    <p class="custom-page-text">
                        We specialize in leading security brands like Yealink, Poly, Aver, Dolby, and Crestron, supported by our trained sales engineers and certified experts.
                    </p>
                </div>
                <h3 class="ourBrands__heading uppercase text-center custom-page-heading custom-animation aboutUS__sectionTop--right" data-step-animate="1" data-section-load="animation">OUR BRANDS</h3>
            </div>
            
            <div class="ourBrands__list custom-animation" data-step-animate="2" data-section-load="animation">
                <div class="ourBrands__item">
                    <a href="/yealink-video-conferencing-equipment/" class="custom-animation hover-image" data-step-animate="1" data-section-load="animation">
                        <img class="lazyload" src="" alt="brand-section-image-1.png" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/yealink.png" />
                    </a>
                </div>
                <div class="ourBrands__item">
                    <a href="/poly-video-conferencing-equipment/" class="custom-animation hover-image" data-step-animate="2" data-section-load="animation">
                        <img class="lazyload" src="" alt="brand-section-image-2.png" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/poly.jpg" />
                    </a>
                </div>
                <div class="ourBrands__item">
                    <a href="/aver-video-conferencing-equipment/" class="custom-animation hover-image" data-step-animate="3" data-section-load="animation">
                        <img class="lazyload" src="" alt="brand-section-image-3.png" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/aver.jpg" />
                    </a>
                </div>
                <div class="ourBrands__item">
                    <a href="/dolby-audio-video-conferencing-equipment/" class="custom-animation hover-image" data-step-animate="4" data-section-load="animation">
                        <img class="lazyload" src="" alt="brand-section-image-4.png" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolby-voice.jpg" />
                    </a>
                </div>
                <div class="ourBrands__item">
                    <a href="/crestron/" class="custom-animation hover-image" data-step-animate="5" data-section-load="animation">
                        <img class="lazyload" src="" alt="brand-section-image-5.png" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/crestron.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Section -->
    <div class="bannerWithText" data-animation-count>
        <div class="container">
            <div class="aboutUs__sectionTop">
                <h3 class="bannerWithText__heading aboutUs__sectionTop--col uppercase custom-page-heading custom-animation aboutUS__sectionTop--left" data-step-animate="1" data-section-load="animation">
                    By the Numbers: Our Journey of Trust and Expertise</h3>

                <div class="bannerWithText__desc aboutUs__sectionTop--col custom-animation aboutUS__sectionTop--right" data-step-animate="2" data-section-load="animation">
                    <p class="custom-page-subTitle">
                        A Legacy of Innovation: Building Connections Since 2007
                    </p>
                    <p class="custom-page-text">
                        At Video Conferencing Supply, our dedication spans over a decade. We've curated a vast portfolio of industry-leading solutions, serving a diverse clientele with unparalleled satisfaction. Our success isn't just measured in years, but in the countless connections fostered and the transformative experiences we've helped create.
                    </p>
                </div>
            </div>

            <div class="bannerNumber">
                <div class="bannerNumber__img">
                    <a href="#" class="custom-animation hover-image1" data-step-animate="3" data-section-load="animation">
                        <img alt="banner-number-section.png" src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/vcs-by-the-numbers-banner.jpg" />
                    </a>

                    <div class="bannerNumber__img-text bg-black uppercase">
                        <span class="custom-page-subTitle text-white">
                            Bridging Connections, One Successful Connection at a Time Since 2007.
                        </span>
                    </div>
                </div>
                <div class="bannerNumber__number">
                    <ul class="numberList">
                        <li class="numberItem custom-animation" data-step-animate="4" data-section-load="animation">
                            <h4 class="custom-page-heading"><span class="count-number-animation">1000</span>+</h4>
                            <span class="custom-page-text">Video Conferencing Products</span>
                        </li>
                        <li class="numberItem custom-animation" data-step-animate="5" data-section-load="animation">
                            <h4 class="custom-page-heading"><span class="count-number-animation">15</span>+</h4>
                            <span class="custom-page-text">Years in Business</span>
                        </li>
                        <li class="numberItem custom-animation" data-step-animate="6" data-section-load="animation">
                            <h4 class="custom-page-heading"><span class="count-number-animation">99</span>%</h4>
                            <span class="custom-page-text">CSAT Scores</span>
                        </li>
                        <li class="numberItem custom-animation" data-step-animate="7" data-section-load="animation">
                            <h4 class="custom-page-heading"><span class="count-number-animation">1000</span>+</h4>
                            <span class="custom-page-text">Integration Support Hours Annually.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner With Video Section -->
    <div class="bannerTextVideo">
        <div class="bannerTextVideo__col bannerTextVideo__left">
            <img class="bannerTextVideo__banner bannerTextVideo__banner--desktop lazyload custom-animation" data-step-animate="1" data-section-load="animation" src="" data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/connect-your-world-banner.jpg" alt="Section Video Banner Image">

            <img class="bannerTextVideo__banner bannerTextVideo__banner--mobile lazyload custom-animation" data-step-animate="1" data-section-load="animation" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/section-video-banner-mb.png" alt="Section Video Banner Image">

            <!-- Play Video Button -->
            <a href="#" class="bannerTextVideo__button" data-video-link="https://www.youtube.com/watch?v=MKWQXk4WO9I" style="display: none;">
                <span class="icon icon--play-video-button">
                    <svg><use xlink:href="#icon-play-video-button"></use></svg>
                </span>
            </a>
        </div>
        <div class="bannerTextVideo__col bannerTextVideo__right custom-animation" data-step-animate="2" data-section-load="animation">
            <div class="bannerTextVideo__content">
                <h3 class="custom-page-heading uppercase bannerTextVideo__heading">
                    Connect Your World
                </h3>
                <h5 class="custom-page-subTitle bannerTextVideo__subTitle">
                    Tailored Solutions for Seamless Collaboration
                </h5>
                <p class="custom-page-text bannerTextVideo__text">
                    At Video Conferencing Supply, we believe in fostering connections.  Our approach centers around you, understanding your unique communication needs to recommend the perfect video conferencing solution. We're committed to empowering seamless collaboration, ensuring your teams can connect effectively and redefine how you work and interact.
                </p>
            </div>
        </div>
    </div>

    <!-- History -->
    <div class="companyHistory">
        <h3 class="custom-page-heading uppercase text-center companyHistory__heading custom-animation" data-step-animate="1" data-section-load="animation">Our Company History</h3>
        <p class="custom-page-text text-center companyHistory__desc custom-animation" data-step-animate="2" data-section-load="animation">
            Tracing our roots back, we've grown through innovation, dedication, and a deep commitment to security and customer satisfaction.
        </p>

        <div class="companyHistory__list custom-animation" data-step-animate="3" data-section-load="animation">
            <a role="link" aria-hidden="true" class="companyHistory__item companyHistory__item--reverse">
                <div class="item-top">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Expanding Expertise Online
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        : As we honor our expertise, we embraced ecommerce and build specialized configurators and support services.
                    </p>
                </div>
                <div class="item-bottom">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-4.png" alt="Company History Image 4">
                    </div>

                    <div class="item-year">
                        <span>2007 - 2017</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
            </a>

            <a role="link" aria-hidden="true" class="companyHistory__item">
                <div class="item-top">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-1.png" alt="Company History Image 1">
                    </div>

                    <div class="item-year">
                        <span>2017 - Today</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
                <div class="item-bottom">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Through continued growth
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        We continue to pioneer sales and national support services for video conferencing solutions.
                    </p>
                </div>
            </a>

            <a role="link" aria-hidden="true" class="companyHistory__item companyHistory__item--reverse">
                <div class="item-top">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Foundation & Growth
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        Born from our parent company founded in 1993, we became its specialized conferencing division in 2007.
                    </p>
                </div>
                <div class="item-bottom">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-5.png" alt="Company History Image 5">
                    </div>


                    <div class="item-year">
                        <span>1993 - 2007</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
            </a>

            <a role="link" aria-hidden="true" class="companyHistory__item">
                <div class="item-top">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-1.png" alt="Company History Image 1">
                    </div>

                    <div class="item-year">
                        <span>2007 - 2017</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
                <div class="item-bottom">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Expanding Expertise Online
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        As we honor our expertise, we embraced ecommerce and build specialized configurators and support services.
                    </p>
                </div>
            </a>

            <a role="link" aria-hidden="true" class="companyHistory__item companyHistory__item--reverse">
                <div class="item-top">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Through continued growth
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        We continue to pioneer sales and national support services for video conferencing solutions.
                    </p>
                </div>
                <div class="item-bottom">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-5.png" alt="Company History Image 5">
                    </div>


                    <div class="item-year">
                        <span>2017 - Today</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
            </a>

            <a role="link" aria-hidden="true" class="companyHistory__item">
                <div class="item-top">
                    <div class="hover-image item-image">
                        <img class="lazyload" src="" data-src="https://www.ipsecuritydepot.com/product_images/uploaded_images/company-history-image-1.png" alt="Company History Image 1">
                    </div>

                    <div class="item-year">
                        <span>1993 - 2007</span>
                    </div>

                    <div class="item-point">
                        <span></span>
                    </div>
                </div>
                <div class="item-bottom">
                    <h4 class="custom-page-subTitle" style="-webkit-box-orient: vertical;">
                        Foundation & Growth
                    </h4>
                    <p class="custom-page-text" style="-webkit-box-orient: vertical;">
                        Born from our parent company founded in 1993, we became its specialized conferencing division in 2007.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <!-- Service Section -->
    <div class="serviceSection">
        <div class="container">
            <div class="aboutUs__sectionTop">
                <h3 class="bannerWithText__heading aboutUs__sectionTop--col uppercase custom-page-heading custom-animation aboutUS__sectionTop--left" data-step-animate="1" data-section-load="animation">
                    Your Trusted Partner for Seamless Collaboration
                </h3>

                <div class="bannerWithText__desc aboutUs__sectionTop--col custom-animation aboutUS__sectionTop--right" data-step-animate="2" data-section-load="animation">
                    <p class="custom-page-text">
                        At Video Conferencing Supply, we prioritize your success. We stand out for our unwavering commitment to customer satisfaction, ensuring a seamless and trustworthy experience with every purchase. From expert consultations to exceptional support, we're here to guide you every step of the way.
                    </p>
                </div>
            </div>

            <div class="serviceSection__list">
                <div class="serviceSection__col">
                    <div class="serviceSection__item custom-animation" data-step-animate="4" data-section-load="animation">
                        <div class="item-top">
                            <div class="item-top__icon">
                                <span class="icon icon--service-1">
                                    <svg><use xlink:href="#icon-service-1"></use></svg>
                                </span>
                            </div>
                            <div class="item-top__number">
                                <span>01</span>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <h4 class="serviceSection__heading">
                                Bridging the Knowledge Gap
                            </h4>
                            <p class="serviceSection__text custom-page-text">
                                Our certified specialists provide expert consultations, helping you find the optimal video conferencing solution.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="serviceSection__col">
                    <div class="serviceSection__item custom-animation" data-step-animate="5" data-section-load="animation">
                        <div class="item-top">
                            <div class="item-top__icon">
                                <span class="icon icon--service-2">
                                    <svg><use xlink:href="#icon-service-2"></use></svg>
                                </span>
                            </div>
                            <div class="item-top__number">
                                <span>02</span>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <h4 class="serviceSection__heading">
                                Top Brands, Competitive Prices
                            </h4>
                            <p class="serviceSection__text custom-page-text">
                                Explore our comprehensive selection of video conferencing solutions from leading brands. We offer competitive pricing to fit your budget, with quantity discounts available for even greater savings.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="serviceSection__col serviceSection__col--target">
                    <div class="serviceSection__item custom-animation" data-step-animate="6" data-section-load="animation">
                        <div class="item-top">
                            <div class="item-top__icon">
                                <span class="icon icon--service-3">
                                    <svg><use xlink:href="#icon-service-3"></use></svg>
                                </span>
                            </div>
                            <div class="item-top__number">
                                <span>03</span>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <h4 class="serviceSection__heading">
                                Fast Delivery
                            </h4>
                            <p class="serviceSection__text custom-page-text">
                                Get connected quickly! We offer fast shipping on most video conferencing equipment from our nationwide network of warehouses.
                            </p>
                        </div>

                        <!-- Target icon -->
                        <span class="icon icon-service-target">
                            <svg><use xlink:href="#icon-service-target"></use></svg>
                        </span>
                    </div>
                </div>

                <div class="serviceSection__col">
                    <div class="serviceSection__item custom-animation" data-step-animate="7" data-section-load="animation">
                        <div class="item-top">
                            <div class="item-top__icon">
                                <span class="icon icon--service-4">
                                    <svg><use xlink:href="#icon-service-4"></use></svg>
                                </span>
                            </div>
                            <div class="item-top__number">
                                <span>04</span>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <h4 class="serviceSection__heading">
                                Flexible Payment Solutions
                            </h4>
                            <p class="serviceSection__text custom-page-text">
                                We offer a variety of secure payment options for your convenience, including major credit cards, wire transfer, and popular digital wallets like Apple Pay, Google Pay, and PayPal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Text With Button -->
    <div class="buttonText">
        <div class="cotainer">
            <div class="buttonText__wrapper">
                <h3 class="buttonText__heading custom-page-heading text-center custom-animation" data-step-animate="1" data-section-load="animation">
                    Your Teams Deserve Seamless Collaboration
                </h3>

                <p class="buttonText__desc custom-page-text text-center custom-animation" data-step-animate="2" data-section-load="animation">
                    We're passionate about empowering connections. Explore our industry-leading video conferencing solutions and give your teams the tools they need to collaborate effectively. Shop with confidence – we source from the world's most trusted manufacturers.
                </p>

                <div class="flex flex-center custom-animation" data-step-animate="3" data-section-load="animation">
                    <a href="https://www.ipsecuritydepot.com/contact-us/" class="button button--primary buttonText__button uppercase">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>

{{/partial}}

{{> layout/base}}

