.home-product-banner {
    min-height: 700px;
    background-color: #003A63;

    @media (max-width: 1300px) {
        padding-bottom: 20px;
    }

    .productBanner {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 53px;
        justify-content: space-between;

        @media (max-width: 1400px) {
            margin-left: 0;
            margin-right: 0;   
        }

        @include smax-m {
            flex-direction: column;
            align-items: center;
            padding-top: 32px;
        }

        &__col {
            padding-left: 15px;
            padding-right: 15px;

            @media (max-width: 1400px) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__left {
            width: 100%;
            max-width: 677px;

            @include smax-xl {
                width: 50%;
            }

            @include smax-m {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
            }
        }

        &__heading {
            color: #ffffff;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2;
    
            @include smax-xl {
                font-size: 60px;
            }

            @include smax-m {
                font-size: 40px;
                text-align: center;
            }

            @include smax-s {
                font-size: 32px;
            }
        }

        &__desc {
            color: #E6E6E6;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.8;
        }

        &__button {
            color: #444444;
            background-color: #ffffff;
            border-color: #ffffff;

            &:hover {
                background-color: #F47B20;
                color: #ffffff;
                border-color: #F47B20;
            }

            &::after {
                background-color: #F47B20;
            }
        }

        &__right {
            width: 100%;
            max-width: 663px;

            @include smax-xl {
                width: 50%;
            }

            @include smax-m {
                width: 100%;
            }

            @include smax-s {
                max-width: 100%;
            }

            .productView-product {
                border-bottom: none;
                padding-bottom: 0;
            }

            .productView-title {
                color: #444444;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                text-transform: capitalize;
                margin-top: 0;

                a {
                    text-decoration: none;
                }
            }

            .productView-price {
                color: #444444;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                text-transform: uppercase;
                margin-top: 22px;
                margin-bottom: 20px;
            }

            .productView-action {
                .button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;

            .productBanner__item {
                padding: 0 10px;
                width: 50%;

                @include smax-m {
                    padding: 0;

                    &:nth-child(2){
                        padding-right: 10px;
                    }

                    &:nth-child(3) {
                        padding-left: 10px;
                    }
                }

                @include smax-xs {
                    width: 100%;

                    &:nth-child(2){
                        padding-right: 0;
                    }

                    &:nth-child(3) {
                        margin-top: 20px;
                        padding-left: 0;
                    }
                }

                .custom-special-product {
                    padding: 20px;
                    padding: 28px 55px 33px 17px;
                    background-color: #ffffff;

                    @include smax-m {
                        padding: 20px;
                    }

                    @include smax-xs {
                        padding: 10px;
                    }
                }

                .productView {
                    margin: 0;
                    padding-top: 0;
                }

                .productView-images{
                    margin-bottom: 0;
                    padding: 0;
                }

                .productView-image{
                    align-items: flex-start;
                    min-height: unset;
                }

                .productView-img-container {
                    margin: 0;
                    &::after {
                        padding-bottom: 77.6%;
                    }

                    img {
                        object-fit:  cover;
                    }
                }

                .productView-details {
                    padding: 0;
                    float: unset;
                }

                &.item--full {
                    width: 100%;
                    margin-bottom: 20px;

                    .custom-productView {
                        display: flex;
                        flex-direction: row;

                        @media (max-width: 500px) {
                            flex-direction: column;
                        }
                    }

                    .custom-productView-left {
                        max-width: 270px;
                        padding-left: 0;
                        padding-right: 20px;

                        @include smax-s {
                            max-width: 50%;
                        }

                        @media (max-width: 500px) {
                            padding-right: 0;
                            max-width: 100%;
                        }
                    }

                    .custom-productView-right {
                        width: 50%;
                        max-width: 271px;
                        padding-left: 20px;
                        padding-right: 0;

                        @media (max-width: 500px) {
                            padding-left: 0;
                            max-width: 100%;
                            width: 100%;
                        }

                        .productView-details {
                            width: 100%;
                        }
                    }

                    .button {
                        font-weight: 600;
                    }
                }

                &:not(.item--full) {
                    .custom-special-product {
                        padding: 16px 20px 17px;

                        @include smax-xs {
                            padding: 12px;
                        }

                        .custom-productView {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-top: 0;
                            
                            .custom-productView-left {
                                width: 100%;
                                margin-bottom: 0;
                                
                                .productView-image {
                                    min-height: unset;
                                }
                                
                                .productView-img-container {
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    max-width: 190px;
    
                                    &::after {
                                        padding-bottom: 100%;
                                    }
                                }
                            }
                            
                            .custom-productView-right {
                                width: 100%;
                                
                                .productView-details {
                                    width: 100%;
                                    padding: 0;
                                    
                                    .productView-product {
                                        padding-bottom: 8px;
                                        border-bottom: none;
                                    }
                                }

                                .productView-title {
                                    font-size: 16px;
                                }

                                .productView-price {
                                    display: none;
                                }

                                .productView-action {
                                    .button {
                                        font-weight: 500;
                                        min-width: unset;
                                        padding: 0 !important;
                                        color: #F47B20;
                                    }
                                }

                                .button {
                                    background: none;
                                    border: none;

                                    &:hover {
                                        background: none;
                                        border: none;
                                        color: #F47B20;

                                        &::after {
                                            background: none;
                                        }
                                    }

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        width: 100%;
                                        height: 2px;
                                        border-radius: 4px;
                                        background-color: #F47B20;
                                        bottom: 0px;
                                        left: 0;
                                        transform-origin: right;
                                        transform: scaleX(0);
                                        transition: transform .3s ease-in-out;
                                    }
                                      
                                    &:hover::before {
                                        transform-origin: left;
                                        transform: scaleX(1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Home Product New Section */
.sectionNew {
    padding-top: 120px;
    padding-bottom: 120px;

    .container {
        padding-right: 0;
        max-width: 100%;
        padding-left: calc((100% - 1290px) / 2);
        @media (max-width: 1300px) {
            padding-left: 15px;
        }
    }

    .productCarousel {
        margin: 0;

        .slick-arrow {
            left: calc(-100%/3 + 15px);
        }
        .slick-list {
            margin-left: -15px;
        }
    }

    .productCarousel-slide {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        .custom-heading {
            margin-bottom: 41px;
        }
        .slick-arrow-wrapper {
            position: relative;
            min-height: 60px;
            @include smax-m {
                width: 20%;
                min-width: 130px;
            }
            .slick-arrow {
                top: 0px;
                transform: unset;
                &.slick-next {
                    left: 80px;
                    @include smax-m {
                        left: 60px;
                    }
                }
            }
        }
        @include smax-m {
            flex-direction: column;
        }
    }

    &__left {
        width: 25%;
        display: flex;
        flex-direction: column;

        @include smax-m {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        h2 {
            max-width: 70%;
        }
    }

    &__right {
        width: 75%;
        @include smax-m {
            width: 100%;
        }
    }
}

// Common section
.custom-section {
    .custom-heading .title {
        color: #444;
        text-align: center;
        font-size: clamp(30px, 4vw, 56px);
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        text-transform: capitalize;
        margin-top: 0px;
        margin-bottom: 55px;
        @include smax-m {
            margin-bottom: 44px;
        }
        @include smax-xs {
            margin-bottom: 35px;
        }
        @include smax-xxs {
            margin-bottom: 28px;
        }
    }
}

// Featured Offers Section
.list-product-wrapper {
    .list-product__item {
        padding: 0px;
        width: 50%;
        @include smin-xs {
            &:not(:last-child) {
                border-right: 1px solid #AFAFAF;
            }
        }

        .productBanner__item.custom-special-product {
            padding: 20px;
            padding: 30px 30px 4px 30px;
            background-color: transparent;

            @include smax-m {
                padding: 20px;
            }

            @include smax-xs {
                padding: 10px;
            }
        }

        .productView {
            margin: 0;
            padding-top: 0;
        }

        .productView-images {
            margin-bottom: 0;
            padding: 0;
        }

        .productView-image {
            align-items: flex-start;
            min-height: unset;
        }

        .productView-img-container {
            margin: 0;

            &::after {
                padding-bottom: 77.6%;
            }

            img {
                object-fit: cover;
            }
        }

        .productView-details {
            padding: 0;
            float: unset;
        }

        &.item--full {
            width: 100%;
            margin-bottom: 20px;

            .custom-productView {
                display: flex;
                flex-direction: row;

                @media (max-width: 500px) {
                    flex-direction: column;
                }
            }

            .custom-productView-left {
                max-width: 270px;
                padding-left: 0;
                padding-right: 20px;
                height: 70%;

                @include smax-s {
                    max-width: 50%;
                }

                @media (max-width: 500px) {
                    padding-right: 0;
                    max-width: 100%;
                }
            }

            .custom-productView-right {
                width: 50%;
                height: 30%;
                max-width: 271px;
                padding-left: 20px;
                padding-right: 0;

                @media (max-width: 500px) {
                    padding-left: 0;
                    max-width: 100%;
                    width: 100%;
                }

                .productView-details {
                    width: 100%;
                }
            }

            .button {
                font-weight: 600;
            }
        }

        .custom-special-product {
            padding: 16px 20px 17px;

            @include smax-xs {
                padding: 12px;
            }

            .custom-productView {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0;

                .custom-productView-left {
                    width: 100%;
                    margin-bottom: 0;

                    .productView-image {
                        min-height: 260px;
                        position: relative;
                        @include smax-m {
                            min-height: 230px;
                        }
                    }

                    .productView-img-container {
                        margin-top: 0;
                        margin-bottom: 0;
                        max-width: 220px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        &::after {
                            padding-bottom: 60.29%;
                        }
                    }
                }

                .custom-productView-right {
                    width: 100%;

                    .productView-details {
                        width: 100%;
                        padding: 0;

                        .productView-product {
                            padding-bottom: 0px;
                            border-bottom: none;
                        }
                    }

                    .productView-title {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        margin-top: 20px;
                        margin-bottom: 0px;
                        --lineHeight : 30px;
                        --row: 2;
                        line-height: var(--lineHeight);
                        height: calc(var(--lineHeight) * var(--row));
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: var(--row);
                        -webkit-box-orient: vertical;
                        a {
                            color: #444;
                            text-decoration: none;
                            &:hover {
                                color: #F47B20;
                            }
                        }
                    }

                    .productView-price {
                        display: none;
                    }

                    .productView-action {
                        margin-top: 20px;
                        .button {
                            font-weight: 700;
                            min-width: unset;
                            padding: 0 !important;
                            color: #F47B20;
                            font-size: 20px;
                        }
                    }

                    .button {
                        background: none;
                        border: none;

                        &:hover {
                            background: none;
                            border: none;
                            color: #F47B20;

                            &::after {
                                background: none;
                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            border-radius: 4px;
                            background-color: #F47B20;
                            bottom: 0px;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }

                        &:hover::before {
                            transform-origin: left;
                            transform: scaleX(1);
                        }
                    }

                    @include smax-m {
                        .productView-title {
                            font-size: 16px;
                        }
                        .productView-action {
                            .button {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: #fff;
    color: transparent;
    transform: translate(0, -50%);
    border: 1px solid #444444;
    z-index: 2;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transition: background 0.2s ease;
    @include smax-m {
        width: 45px;
        height: 45px;
    }
    &::before {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        height: 100%;
        width: 0.5625rem;
        margin: 0 auto;
    }
    .carousel-tooltip {
        display: none;
    }
    &.slick-next {
        right: 0px;
        &::before {
            @include carousel-arrow-color("#444444", "next");
        }
    }
    &.slick-prev {
        left: 0px;
        &::before {
            @include carousel-arrow-color("#444444", "prev");
        }
    }
    &:hover {
        background: #F47B20;
        border-color: #F47B20;
        &.slick-next {
                &::before {
                    @include carousel-arrow-color("#ffffff", "next");
                }
            }
        &.slick-prev {
            &::before {
                @include carousel-arrow-color("#ffffff", "prev");
            }
            }
    }
    &.slick-disabled {
        pointer-events: none;
    }
}

/* Recently Posts */
.home-recently-posts {

    .custom-heading {
        margin-bottom: 60px;
    }

    &:not(.home-recently-posts--no-pt) {
        padding-top: 120px;
    }

    @include smax-m {
        padding-top: 60px;
    }

    @include smax-s {
        padding-top: 30px;
        .custom-heading {
            margin-bottom: 30px;
        }
    }

    .slick-track {
        padding-bottom: 19px;
    }

    .recentlyPost__content {
        &:not(.slick-initialized) {
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;

            .recentlyPost__item {
                width: 100%;
                display: none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: block;
                }
            }
        }

        .slick-list {
            margin-left: -15px;
            margin-right: -15px;
        }

        .recentlyPost__list-slider {
            padding-left: 15px;
            padding-right: 15px;

            .recentlyPost__list {
                background: #fff;
                padding: 0px;
                box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.06);

                .recentlyPost__item {
                    .item-image {
                        overflow: hidden;
                    }

                    .image-with-overlay {
                        height: 280px;
                        display: block;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .item-content {
                        padding: 24px 20px 20px;

                        @include smax-s {
                            padding: 20px 10px;
                        }

                        .title {
                            margin-top: 2px;
                            margin-bottom: 16px;
                            a {
                                color: #444;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                --lineHeight: 30px;
                                --row: 2;
                                line-height: var(--lineHeight);
                                height: calc(var(--lineHeight) * var(--row));
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: var(--row);
                                -webkit-box-orient: vertical;
                                @include smax-s {
                                    font-size: 16px;
                                }
                            }
                        }

                        .summary {
                            color: #444;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32.4px;
                            min-height: 130px;
                            @include smax-s {
                                font-size: 14px;
                            }
                        }

                        .blog_post_readmore {
                            color: #444;
                            font-size: inherit;
                            font-weight: 600;
                            text-transform: capitalize;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Category
.page-sidebar {
    position: fixed;
    top: 0;
    left: -101%;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
    max-width: 340px;
    transition: all .5s ease;
    background-color: $color-white;
    box-shadow: rgba(50, 50, 50, 0.2) 0 0 10px 0;
    border: 1px solid #AFAFAF;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

    &.custom-sidebar {
        .custom-sidebar-header {
            padding: 10px 0px 10px 15px;
            .title {
                display: block;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 25px;
                color: #000;
                text-transform: capitalize;
                margin: 0;
            }
            @include smin-m {
                display: none;
            }
        }
    }

    &.has-toolbar {
        @include smin-m {
            margin-top: -67px;

            .page-listing & {
                padding-top: 0;
            }
        }
    }

    .facetedSearch-refineFilters {
        margin-top: 20px;
        display: none;
        .sidebarBlock-heading {
            font-size: 16px;
        }
    }

    .page-sidebar-close {
        position: relative;
        padding: 0px;
        margin-bottom: 10px;
        width: 44px;
        height: 44px;
        background-color: #F47B20;
        position: absolute;
        right: -44px;
        top: -1px;

        .title {
            display: block;
            font-size: $fontSize-root + 4px;
            font-weight: $fontWeight-bold;
            letter-spacing: $letterSpacing-base;
            line-height: 25px;
            color: stencilColor('color-textBase');
            text-transform: capitalize;
            margin: 0;
        }

        .close {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 1;
            width: 24px;
            height: 24px;
            .icon {
                width: 100%;
                height: 100%;
            }
            svg {
                width: 100%;
                height: 100%;
                fill: #fff;
            }
        }
    }

    >nav {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 40px 30px 100px 30px;
    }

    .page-sidebar-content {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 40px 30px 100px 30px;
    }

    .accordion--navList {
        .accordion-block {
            padding-bottom: 0;

            .accordion-title {
                font-size: $fontSize-root + 2;
                text-transform: uppercase;
            }

            .accordion-navigation-actions {
                .icon {
                    padding: 3px;
                }
            }

            .toggleLink-text {
                font-weight: $fontWeight-bold;
            }
        }
    }

    +.page-content {
        .productList {
            .product .card {
                margin-bottom: 0px;
            }
        }
        .productGrid {
            .product {
                width: 100%;
            }
        }
    }

    @include smax-m {
        &.is-open {
            padding: 0px;
            .facetedSearch-refineFilters {
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .facetedSearch-toggle {
                display: none;
            }
            #facetedSearch-navList {
                display: block;
                .accordion-block {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    &::after {
                        left: 0;
                        width: 100%;
                    }
                    .accordion-nav-clear-holder .facetedSearch-clearLink {
                        right: 50px;
                    }
                }
            }
            .openSidebar & {
                left: 0;
            }
        }

        >nav {
            padding: 15px 15px 100px;
        }

        .page-sidebar-content {
            padding: 15px 15px 100px;
        }
    }

    @include smin-m {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        z-index: 5;
        float: left;
        width: 300px;
        display: inline-block;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        transition: unset;

        .page-sidebar-close {
            display: none;
        }

        .page-sidebar-content {
            padding: 0;
            overflow: visible;
        }

        >nav {
            padding: 0;
            overflow: visible;
        }

        +.page-content {
            padding-left: 30px;
            width: calc(100% - 300px);

            @include smin-m {
                max-width: 990px;
            }
        }

        &.u-hiddenVisually {
            +.page-content {
                padding-left: 0;
                width: 100%;
            }
        }

        &.u-hidden {
            +.page-content {
                padding-left: 0;
                width: 100%;
            }
        }

        .page-listing & {
            position: sticky;
            top: 80px;
            padding-top: 0px;
            padding-bottom: 42px;
        }
    }

    @include smin-xs {
        +.page-content {
            .productGrid {
                &.col-2 {
                    .product {
                        width: 50%;
                    }
                }
            }
            .productList {
                margin-top: 0px;
    
                .product .card {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0px;
    
                    .card-figure {
                        padding: 12px 16px 12px 12px;
                        width: 50%;
                        max-width: 322px;

                        .card-figure__link {
                            border: unset;
                        }
                        .card-img-container {
                            &::after {
                                padding-bottom: 87.0748%;
                            }
                        }
                    }
    
                    .card-body {
                        padding-left: 0px;
    
                        .card-figcaption-bottom {
                            max-width: 298px;
                        }
                    }
                }
            }
        }
    }
}

// View as 
.view-as-btn {
    display: flex;
    align-items: center;

    .form-group {
        display: flex;
        align-items: center;
        overflow: hidden;
        border: 1px solid #afafaf;
    }

    .btn-view {
        padding: 12px 0px;
        width: 82px;
        height: 46px;
        vertical-align: top;
        display: inline-block;
        background-color: #fff;
        transition: background 0.1s ease-in;

        svg {
            width: 100%;
            height: 100%;
            fill: #e2e4e8;
            stroke: #e2e4e8;
            pointer-events: none;
        }

        &.grid-view {
            border-right: none;

            svg {
                transform: rotate(90deg);
            }
        }

        &.current-view {
            background-color: #F47B20;
            svg {
                color: #ffffff;
            }
        }
        @include smax-s {
        padding: 10px 0;
            width: 40px;
            height: 40px;
        }
    }
}

// Category 
.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 24px;

    .category-title {
        color: stencilColor('color-textHeading');
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        margin-top: 0px;
        margin-bottom: 0px;
        span {
            color: #F47B20;
        }
    }
}
.custom-toolbar {
    margin-bottom: 20px;
    .icon {
        height: 28px;
        width: 28px;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-left: 8px;
    }
}
/* Custom Start Page Sidebar */
#faceted-search-container {
    #facetedSearch-navList {
        margin-top: 0px;
    }

    @include smin-m {
        background-color: #ffffff;
        box-shadow: 0px 101.611px 67.741px 0px rgba(0, 0, 0, 0.06);
        height: 100%;
    }
    .accordion-nav-clear-holder {
        .accordion-navigation {
            .accordion-title {
                color: stencilColor("color-textHeading");
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
            }

            .icon {
                fill: #141B34;
                width: 25px;
                height: 25px;
            }
        }

        .facetedSearch-clearLink {
            right: 28px;
        }
    }

    .accordion-block {
        margin-top: 20px;
        padding-bottom: 20px;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -20px;
            right: 0;
            height: 1px;
            width: calc(100% + 40px);
            background-color: #AFAFAF;
        }

        .accordion-content {
            @include smax-m {
                padding-left: 22px;
                padding-right: 22px;
                padding-bottom: 18px;
            }

            #facet-range-form {
                .form-minMaxRow {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -8px;
                    margin-right: -8px;

                    .form-field {
                        width: 50%;
                        padding-left: 8px;
                        padding-right: 8px;

                        &:nth-child(3) {
                            width: 100%;
                            margin-top: 12px;

                            .button {
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                text-transform: capitalize;
                                font-style: normal;
                                font-weight: 500;
                                text-transform: uppercase;
                                height: 44px;
                                padding: 12px 36px;
                            }
                        }
                    }
                }
            }

            .navList-item {
                .navList-action {
                    color: stencilColor("color-textHeading");
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    &:hover {
                        span {
                            background: none;
                        }
                    }

                    &--checkbox {
                        padding-left: 30px;

                        &::before {
                            width: 20px;
                            height: 20px;
                            margin-top: -10px;
                            border-radius: 6px;
                            border-radius: 6px;
                            border: 1px solid #AFAFAF;
                            background-color: #F3F6F9;
                        }

                        &::after {
                            margin-top: -7px;
                            left: 4px;
                        }
                    }
                }
            }
        }
    }

    .form-minMaxRow {
        .form-field {
            padding: 0;
            width: 80px;

            >input {
                color: #000;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    ol.breadcrumbs {
        margin-top: 30px;
        margin-bottom: 0px;
        position: relative;
        padding-bottom: 30px;
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -20px;
            right: 0;
            height: 1px;
            width: calc(100% + 40px);
            background-color: #AFAFAF;
        }
    }
}

.pagination {
    .pagination-list {
        .pagination-item {
            .pagination-link {
                font-size: 18px;
                color: #909090;
                padding: 21px 27.15px;
                border: 1px solid #909090;
                border-radius: 6px;
                transition: all .3s ease-in;
                
                &:hover {
                    border-color: #F47B20;
                    color: #F47B20;
                }
            }
            &.pagination-item--current {
                margin: 0;
                .pagination-link {
                    color: #ffffff;
                    background-color: #F47B20;
                    border-color: #F47B20;
                }
            }
        }
        .pagination-item--next,
        .pagination-item--previous {
            float: unset;
        }
        li {
            margin-left: 22px !important;
        }
    }
}