.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    display: none;
    visibility: hidden;
    transition: $anchor-transition;
    background-color: rgba(59, 59, 59, .7);

    .has-activeNavPages &,
    .openAuthSidebar &{
        z-index: 102;
        opacity: 1;
        display: block;
        visibility: visible;
    }
}


/* ----------------- Load Animation ----------------------*/
.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    transform: translatey(100px);
}

.js .custom-animation {
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transform: translatey(100px);
    opacity: 0;


    @for $i from 0 through 100 {
        &[data-step-animate="#{$i}"] {
            transition-delay: 0.1s + $i * 0.02;
            transition-duration: 0.3s + $i * 0.1;
        }
    }
}

.js .animated.custom-animation {
    transform: translatey(0);
    opacity: 1;
}
