<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}} {{#unless hasBackground '==' 'transparent'}} heroCarousel-content--notEmpty{{/unless}} heroCarousel-content--{{position}}">
    {{#if heading}}
    	<h2 class="heroCarousel-title animated">{{{heading}}}</h2>
    {{/if}}
    {{#if text}}
    	<p class="heroCarousel-description animated">{{{text}}}</p>
    {{/if}}
    {{#or (if button_text) (if customTextBtn)}}
    	<div class="heroCarousel-action animated">
		    {{#if button_text}}
		        <a class="button button--primary" href="{{url}}">{{button_text}}</a>
		    {{/if}}
		    {{#if customTextBtn}}
		    	<a class=" button button--primary" href="{{customBtn}}">{{customTextBtn}}</a>
		    {{/if}}
    	</div>
	{{/or}}
</div>
