<div class="custom-block custom-block-banner">
    <div class="container container--full">
        <div class="custom-block-content">
            <div class="block-banner-item">
                <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                    <a href="#" class="image-desktop">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron-3.jpg" 
                        alt="pexels julia m cameron" 
                        title="pexels julia m cameron">
                    </a>
                </div>
                <div class="content-box text-left background-white content-box--left content-box--custom2">
                    <h3 class="banner-title custom-animation banner-title--full" data-step-animate="2" data-section-load="animation">Extended Service Plans</h3>
                    <p class="desc banner-text custom-animation" data-step-animate="3" data-section-load="animation">Our extended service and support plans are designed to provide comprehensive coverage for all brands we sell. As a manufacturer-authorized and certified retailer, we ensure that your video conferencing solutions are backed by reliable support, extending beyond standard warranties for added peace of mind and operational continuity.</p>
                    <a href="#" class="button button--primary">Learn More</a>
                </div>
            </div> 
        </div>
    </div>
</div>