<div class="custom-block custom-block-banner">
    <div class="container container--full">
        <div class="custom-block-content">
            <div class="block-banner-item">
                <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                    <a href="#" class="image-desktop">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/expert-technical-support.jpg" 
                        alt="pexels julia m cameron" 
                        title="pexels julia m cameron">
                    </a>
                </div>
                <div class="content-box text-left background-black content-box--right">
                    <h3 class="banner-title custom-animation" data-step-animate="2" data-section-load="animation">Expert Manufacturer Certified Pre-Sales & Technical Support</h3>
                    <p class="desc banner-text custom-animation" data-step-animate="3" data-section-load="animation">
                        Since 2007, our team has been dedicated to providing expert video conferencing solutions. We offer personalized pre-sales advice and post-sales integration support from our certified engineers to ensure our customers make informed decisions and achieve seamless system functionality.
                    </p>
                    <a href="#" class="button button--primary">Learn More</a>
                </div>
            </div> 
        </div>
    </div>
</div>