<div class="home-product-banner">
    <div class="container">
        <div class="productBanner">
            <div class="productBanner__col productBanner__left">
                <h2 class="productBanner__heading custom-animation" data-section-load="animation" data-step-animate="1">Video CONFERENCING</h2>
                <p class="productBanner__desc custom-animation" data-section-load="animation" data-step-animate="2">Seon Selmer Eu eeu Seu Be) Peles</p>
                <div class="productBanner__button-wrapper custom-animation" data-section-load="animation" data-step-animate="3"><a href="#" class="productBanner__button button">Shop Now</a></div>
            </div>
            <div class="productBanner__col productBanner__right productBanner__list">
                <!-- Product ID 1 -->
                {{#if theme_settings.custom_product_block_special_id1}}
                    <div class="productBanner__item item--full custom-animation" data-section-load="animation" data-step-animate="1" data-special-product-id="{{theme_settings.custom_product_block_special_id1}}">
                        <div class="custom-special-product">
                            <div class="loadingOverlay"></div>
                        </div>
                    </div>
                {{/if}}

                <!-- Product ID 2 -->
                {{#if theme_settings.custom_product_block_special_id2}}
                    <div class="productBanner__item custom-animation" data-section-load="animation" data-step-animate="2" data-special-product-id="{{theme_settings.custom_product_block_special_id2}}">
                        <div class="custom-special-product">
                            <div class="loadingOverlay"></div>
                        </div>
                    </div>
                {{/if}}

                <!-- Product ID 3 -->
                {{#if theme_settings.custom_product_block_special_id3}}
                    <div class="productBanner__item custom-animation" data-section-load="animation" data-step-animate="3" data-special-product-id="{{theme_settings.custom_product_block_special_id3}}">
                        <div class="custom-special-product">
                            <div class="loadingOverlay"></div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>