<div class="custom-block custom-block-brands custom-block--swipper custom-animation" data-step-animate="1" data-section-load="animation">
    <div class="container">
        <div class="custom-block-row colums-5">
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="/dolby-audio-video-conferencing-equipment/" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolby-voice.jpg" 
                        alt="Dolby" 
                        title="Dolby">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="/crestron/" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/crestron.png" 
                        alt="crestron" 
                        title="crestron">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="/poly-video-conferencing-equipment/" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/poly.jpg" 
                        alt="poly" 
                        title="poly">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="/yealink-video-conferencing-equipment/" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/yealink.png" 
                        alt="yealink" 
                        title="yealink">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="/aver-video-conferencing-equipment/" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/aver.jpg" 
                        alt="Aver" 
                        title="Aver">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>