<div class="custom-block custom-block-banner">
    <div class="container container--full">
        <div class="custom-block-content">
            <div class="block-banner-item">
                <div class="img-box text-center custom-animation" data-step-animate="1" data-section-load="animation">
                    <a href="#" class="image-desktop">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/pexels-julia-m-cameron.jpg" 
                        alt="pexels julia m cameron" 
                        title="pexels julia m cameron">
                    </a>
                </div>
                <div class="content-box text-left content-box--left custom-animation content-box--custom" data-step-animate="3" data-section-load="animation">
                    <h3 class="banner-title">Welcome to Video Conferencing Supply</h3>
                    <p class="desc banner-text">We are the original video conferencing specialty store online since 2007 and have helped countless businesses and end-users alike find, implement, and utilize their video conferencing solutions.</p>
                </div>
            </div> 
        </div>
    </div>
</div>