<div class="custom-block custom-block-brands custom-block--swipper custom-animation" data-step-animate="1" data-section-load="animation">
    <div class="container">
        <div class="custom-block-row colums-5">
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolby-brand.png" 
                        alt="Dolby" 
                        title="Dolby">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/dolbly-vol-brand.png" 
                        alt="dolbly-vol" 
                        title="dolbly-vol">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/poly-brand.png" 
                        alt="poly" 
                        title="poly">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/yealink-brand.png" 
                        alt="yealink" 
                        title="yealink">
                    </a>
                </div>
            </div>
            <div class="custom-block-item">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                    <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/ever-brand.png" 
                        alt="ever" 
                        title="ever">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>