<div class="custom-block custom-block-icon-with-text">
    <div class="container">
        <div class="custom-block-header text-center custom-animation" data-step-animate="0" data-section-load="animation">
            <h3 class="title">Shop our popular categories</h3>
        </div>
        <div class="custom-block-row colums-6">
            <div class="custom-block-item custom-animation" data-step-animate="1" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-video.png" 
                        alt="banner cate video" 
                        title="banner cate video">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>VIDEO CONFERENCING</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="2" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-av.png" 
                        alt="banner cate av" 
                        title="banner cate av">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>AV CART</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="3" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-acc.png" 
                        alt="banner cate acc" 
                        title="banner cate acc">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>Accessories</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="4" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-audio.png" 
                        alt="banner Audio Conferencing" 
                        title="banner Audio Conferencing">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>Audio Conferencing</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="5" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-presen.png" 
                        alt="banner Presentation Systems" 
                        title="banner Presentation Systems">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>Presentation Systems</span>
                    </a>
                </div>
            </div>
            <div class="custom-block-item custom-animation" data-step-animate="6" data-section-load="animation">
                <div class="img-box">
                    <a href="#" class="animate-scale image">
                        <img class="lazyload" src="" 
                        data-src="https://cdn11.bigcommerce.com/s-nsheq/images/stencil/original/image-manager/banner-cate-video-phone.png" 
                        alt="Banner Video Phones" 
                        title="Banner Video Phones">
                    </a>
                </div>
                <div class="content-box text-center">
                    <a href="#">
                        <span>Video Phones</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>